body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
.display {
  display: flex;
  margin-bottom: 100px;
}
.topper {
  width: 50%;
  padding-left: 5%;
  margin-left: 2%;
}
.topper img {
  width: 80%;
}
.button {
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  background-image: linear-gradient(red, green, lightyellow);
  border-radius: 10px;
}
